body {
  font-family: "Roboto";
  background-color: #ffffff;
}
.button-all:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.button-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  width: 116px;
  height: 48px;

  background: #f4f4fd;

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.filters-text {
  text-decoration: none;

  width: 68px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #4d5ae5;
}

.filters-text:hover {
  color: #ffffff;
}
